.profile{
    width: 200px;
    height: auto;
    border-radius: 50%;
    background-color: black;
}

.card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #44aa51;
    color: white;
    transform: scale(1.05);
}
.edu{
    border-radius: 24px;
}